/__pycache__/*

/checkpoints/*

/checkpoints_300/*

/datasets/*

/predict/*

/predict_580/*

param.hdf5

*.png

weights_SSD300.hdf5

/mAP/ground-truth/*

/mAP/images/*

/mAP/predicted/*

/mAP/results/images/*

weights_SSD300.hdf5
